
{% extends 'base.html' %}
{% block title %} Loging {% endblock %}
{% block content %}



<h1> Login... </h1>
<br/>
<div class=""form-control">
    <form method="POST">
        {% csrf_token %}


<div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username">
</div>

<div class="mb-3">
    <input type="password" class="form-control" name = "password" placeholder="Password">
</div>


<br/>

        <button class = "btn-secondary"> Login </button>
</div>
</form>

Not a Register? Sign Up <a href="{% url 'register' %}"> Here... </a>

{% endblock %}