
{% extends 'base.html' %}
{% block title %} Create A New Post Blog {% endblock %}
{% block content %}


{% if user.is_authenticated  %}
    <h1> Add Post... </h1>
    <br/>
    <div class=""form-control">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class = "btn-secondary"> Post </button>
    </div>

    <script>
        var name ="{{ user.id }}";
        document.getElementById("tincho").value = name;
        
    </script>

{% else %}

You`re not allowed here! (and you know it...)


{% endif %}

{% endblock %}




